name: rust-bench
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  rust-bench:
    name: Run rust-bench
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: ./.github/actions/cache-cargo
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: ./.github/actions/setup-rust
        with:
          channel: nightly
      - name: Run rust-bench
        run: |
          cargo bench --locked --all-features
