name: test
on:
  pull_request:
  push:
jobs:
  rust_doc_test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: git autocrlf false
        if: startsWith(matrix.os, 'windows')
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v6
      - uses: ./.github/actions/cache-cargo
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: ./.github/actions/setup-rust
      - name: Cache build
        id: cache-build
        uses: actions/cache@v4
        with:
          path: |
            target
          key: ${{ runner.os }}-rust-${{ hashFiles('**/Cargo.toml') }}
      - name: run test
        run: cargo test --locked --release
        env:
          RUST_BACKTRACE: 1
